body {
    padding-top: 70px;
}

.unselectable {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.bookcard {
    margin: 0 20px;
}

.bookcard-item {
    display: block;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.bookcard-button {
    margin-top: 10px;
    margin-right: 10px;
}