body {
    padding-top: 70px;
}

.unselectable {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.bookcard {
    margin: 0 20px;
}

.bookcard-item {
    display: block;
}

.bookcard-button {
    margin-top: 10px;
    margin-right: 10px;
}

.categorycard {
    margin: 0 20px;
}

.categorycard-item {
    display: block;
}

.categorycard-button {
    margin-top: 10px;
    margin-right: 10px;
}

.personacard {
    margin: 0 20px;
}

.personacard-item {
    display: block;
}

.personacard-button {
    margin-top: 10px;
    margin-right: 10px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* FABS */

.fab {
    border-radius: 100%;
    bottom: 25px;
    font-size: 20px;
    padding: 10px;
    position: fixed;
    right: 25px;
}

.fab-danger {
    bottom: 25px;
    padding: 10px;
    position: fixed;
    left: 25px;
}